// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

h1 {
  font-family: 'PT Sans', sans-serif;
}
h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
}
// FOR OUR LETTER GENERATOR:
// font-family: 'Lora', serif;

// TODO add different size logos using media queries
.jumbotron h1 {
  overflow: hidden;
  background: image-url('power-icon.png') right top;
  background-size: 128px 128px;
  background-repeat: no-repeat;
  color: #000000;
  width: 600px;
  height: 140px;
  margin: 0;
  letter-spacing: -4px;
  font-size: 120px;
  text-align: left;
  span {
    display: none;
  }
}

