body { 	background-image: url(https://s3.amazonaws.com/jetstrap-site/images/common/lush_bg.jpg); 
		background-attachment: fixed; 
		background-size: cover; background-position: 50% 100%;
		background-repeat: no-repeat no-repeat;  }


#logo h1 { text-align: left; }

#story_text { display:block; margin:20px 0; width:100%; }		
.jumbotron {
  text-align: center;
  background-color: #efefef;
  border-bottom: 1px solid #e5e5e5; 

  p { text-align: left; }
}

 